body{
    font-family: Arial, Helvetica, sans-serif;
    
    position: relative;

    margin: 60px 3vw;   
    width: 70vw;
    height: 100%;
}

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(31, 114, 131) 100%);
    display: flex; 
    align-items: center;

}



.logo-container{
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 100%;
}

.logo-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
}

nav{
    flex: 1;
    margin-left: 70px;
    
}

nav a{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 50px;
}

.logout-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.logout{
    height: 60%;
    filter: brightness(0) invert(1);
    margin-right: 20px;
}

nav a:hover,
.logout:hover{
    cursor: pointer;
}

.content{
    padding-top: 3vw;
}

.content h1{
    font-size: 3vw;
}

.content h2{
    font-size: 2vw;
    
}


.user-information label{
    display: inline-block;
    font-size: 1vw;
    padding: 0.5vw;
    background-color: rgb(33, 122, 224);
    color: white;
    border-top-right-radius: 0.4vw;
    border-top-left-radius: 0.4vw;
    
    border-bottom: none;
}

.user-information a{
    display: block;
    font-size: 1.5vw;
    padding: 0.5vw;
    border-bottom-right-radius: 0.4vw;
    border-top-left-radius: 0.4vw;
    background-color: rgb(218, 218, 218);
    margin-bottom: 2vw;
    width: 30vw;
}
